body {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 5px;
    margin: 5px;
}

header {
    grid-row: span 2
}

aside {
    grid-row: span 1
}

main {
    grid-row: span 8
}

@media screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 5px;
        margin: 5px;
    }

    header {
        grid-column: 1/-1;
        grid-row: span 2;
    }
       
    main {
        grid-column: span 8;
        grid-row: span 10;
    }

    aside {
        grid-column: span 4;
        grid-row: span 10;
    }
}